* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* List */
.country-list {
  padding: 0;
}

.country-list__item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  list-style: none;
}

.country-list__img {
  width: 40px;
  height: 20px;
}

.country-list__text {
  margin: 0;
  padding: 0;
}

/* Info */
.country__flag {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.country__img {
  display: block;
  width: 100px;
}
.country__name {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 900;
  font-size: 30px;
}

.country__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
